{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'calcu_app/styles.css' %}">

</head>
<body>

    <h1>Simple Calculator</h1>

    <form method="post" action="{% url 'calculate' %}">
        {% csrf_token %}
        
        <label for="num1">Number 1:</label>
        <input type="text" name="num1" id="num1" required>

        <label for="operator">Operator:</label>
        <select name="operator" id="operator" required>
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <label for="num2">Number 2:</label>
        <input type="text" name="num2" id="num2" required>

        <button type="submit">Calculate</button>
    </form>

    {% if result %}
    {% if operation_type %}
        <center>
            <h2>The {{ operation_type }} of two number is: {{ result }}</h2>
        </center>
    {% else %}
        <h2>{{ result }}</h2>
    {% endif %}
{% endif %}


</body>
</html>