/* calcu_app/styles.css */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 8, 24);
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color:rgb(8, 8, 24);
    padding: 20px;
    box-shadow: 0 0 10px white;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

input[type="text"],option,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
input[type="text"],option,
textarea{
    border: none;
    outline: none;
}

button[type="submit"] {
    background-color: #071b29;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: white;
    color: black;
}

.number-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.number-buttons button {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.number-buttons button:hover {
    background-color: #27ae60;
}

h2{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: white ;
}
